//saas\colores.scss

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$colores-personalizados: (
    "azul":         #0d6efd,
    "indigo":       #6610f2,
    "purpura":      #6f42c1,
    "fucsia":       #d63384,
    "rojo":         #dc3545,
    "naranja":      #fd7e14,
    "amarillo":     #ffc107,
    "verde":        #198754,
    "verdeazul":    #20c997,
    "turquesa":     #0dcaf0,
    "acero":        #4682b4,
    "agata":        #b5b8b1,
    "aguamarina":   #9fd5d1,
    "amatista":     #898ac0,
    "azulmarino":   #00446a,
    "bermellon":    #e62e1b,
    "botella":      #343b29,
    "burdeos":      #641c34,
    "cafe":         #4c2f27,
    "caoba":        #a56d5d,
    "cardo":        #d8bfd8,
    "chocolate":    #45322e,
    "cielo":        #87ceeb,
    "cobalto":      #333c87,
    "crema":        #f9f9c5,
    "esmeralda":    #287233,
    "hoja":         #2d572c,
    "icterina":     #ece86e,
    "limon":        #b2e619,
    "marron":       #800000,
    "musgo":        #2f4538,
    "noche":        #252850,
    "nuez":         #633a34,
    "perla":        #eae6ca,
    "rosado":       #ea899a,
    "verdeoscuro":  #004225,
    "verdeamar":    #77b95e,
    "vino":         #5e2129,
    "zafiro":       #6576b4,
    "light":        #e9ecef,
    "dark":         #212529,
    "miel":         #a98307,
    "oliva":        #999950,
    "oro":          #cda434,
    "azulceleste":  #2271b3,
    "oceano":       #1d334a,
    "celeste":      #51d1f6,
    "cobre":        #763c28,
    "gamuza":       #e6b57e,
    "granate":      #ab2a3e,
    "salmon":       #fa8072,
    "menta":        #20603d,
    "carmin":       #c30b4e,
    "azulagua":     #256d7b,
    "violeta":      #ee82ee,
    "verdeoliva":   #808000,
    "verdeclaro":   #90ee90,
    "coral":        #ff7f50,
    "beige":        #8a6642,
    "trigo":        #f5deb3,
    "anaranjado":   #eca753,
    "curry":        #b1a515,
);
