
@each $color, $value in $colores-claros {
  .bg-#{$color} {
    background-color: $value !important;
  }
  .text-#{$color} {
    color: $value !important;
  }
}
@each $color, $value in $colores-oscuros {
  .bg-#{$color} {
    background-color: $value !important;
  }
  .text-#{$color} {
    color: $value !important;
  }
}
$theme-colors: map-merge($theme-colors, $colores-claros);
$theme-colors: map-merge($theme-colors, $colores-oscuros);

@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/utilities";

@each $color, $value in $colores-claros {
  // Modo Light
  $theme-colors-text: map-merge($theme-colors-text, ($color: $value));
  $theme-colors-bg-subtle: map-merge($theme-colors-bg-subtle, ($color: tint-color($value, 80%)));
  $theme-colors-border-subtle: map-merge($theme-colors-border-subtle, ($color: tint-color($value, 50%)));
  // Modo Dark
  $theme-colors-text-dark: map-merge($theme-colors-text-dark, ($color: tint-color($value, 80%)));
  $theme-colors-bg-subtle-dark: map-merge($theme-colors-bg-subtle-dark, ($color: tint-color($value, 30%)));
  $theme-colors-border-subtle-dark: map-merge($theme-colors-border-subtle-dark, ($color: tint-color($value, 80%)));
}
@each $color, $value in $colores-oscuros {
  // Modo Light
  $theme-colors-text: map-merge($theme-colors-text, ($color: $value));
  $theme-colors-bg-subtle: map-merge($theme-colors-bg-subtle, ($color: tint-color($value, 80%)));
  $theme-colors-border-subtle: map-merge($theme-colors-border-subtle, ($color: tint-color($value, 50%)));
  // Modo Dark
  $theme-colors-text-dark: map-merge($theme-colors-text-dark, ($color: tint-color($value, 80%)));
  $theme-colors-bg-subtle-dark: map-merge($theme-colors-bg-subtle-dark, ($color: tint-color($value, 30%)));
  $theme-colors-border-subtle-dark: map-merge($theme-colors-border-subtle-dark, ($color: tint-color($value, 80%)));
}
