//saas\base\_tema.scss

// ----------------------------------------------
// Colores base
$paleta-basica: generar-paleta-basica($color-primario) !default;
$paleta-ampliada: generar-paleta-ampliada($color-primario) !default;
$paleta-monocromatica: generar-paleta-monocromatica($color-primario) !default;
$paleta-saturacion: generar-paleta-saturacion($color-primario) !default;

// ----------------------------------------------
// Valores Calculados

@include configurar-tema(
    generar-configuracion(
        $paleta-basica,
        $paleta-ampliada,
        $paleta-monocromatica,
        $paleta-saturacion
    )
);
