@use "sass:map";

// ----------------------------------------------
// Colores base
$color-base: map.get($theme-colors, $color-tema);
$paleta-basica: generar-paleta-basica($color-base) !default;
$colores: (
    "primary": map-get($paleta-basica, 'primary'),
    "secondary": map-get($paleta-basica, 'secondary'),
    "success": map-get($paleta-basica, 'success'),
    "info": map-get($paleta-basica, 'info'),
    "warning": map-get($paleta-basica, 'warning'),
    "danger": map-get($paleta-basica, 'danger'),
    "light": map-get($paleta-basica, 'light'),
    "dark": map-get($paleta-basica, 'dark'),
    "accent": map-get($paleta-basica, 'accent'),
    "soft": map-get($paleta-basica, 'soft'),
    "invert": map-get($paleta-basica, 'invert'),
    "grayscale": map-get($paleta-basica, 'grayscale'),
    "base": $color-base,
) !default;
$escala-monocromatica: crear-escala-monocromatica($color-base) !default;

// ----------------------------------------------
// Predeterminados (si no se han establecido)
$fuente: Verdana, Geneva, Tahoma, sans-serif !default;
$talla: 1rem !default;

// ----------------------------------------------
// Valores Calculados
$fondo: $color-base;
$texto: color-contrast($color-base);
$sombra-rgb: to-rgb(color-contrast($color-base));

@include variables-css((
    fondo: $color-base,
    fondo-rgb: to-rgb($fondo),
    texto: $texto,
    texto-rgb: to-rgb($texto),
    fuente-nombre: $fuente,
    fuente-talla: $talla,
    sombra-color: color-contrast($fondo),
    sombra-rgba: RGBA(($sombra-rgb), .25),
    fondo2: cambiar-color($fondo, 50%),
    fondo2-rgb: to-rgb(cambiar-color($fondo, 50%)),
    texto2: color-contrast(cambiar-color($fondo, 50%)),
    texto2-rgb: to-rgb(color-contrast(cambiar-color($fondo, 50%))),
    fondo3: cambiar-color($fondo, 70%),
    fondo3-rgb: to-rgb(cambiar-color($fondo, 70%)),
    texto3: color-contrast(cambiar-color($fondo, 70%)),
    texto3-rgb: to-rgb(color-contrast(cambiar-color($fondo, 70%))),
));

@if evaluar-color($fondo) == 'claro' {
    @include variables-css((
        borde-color: map-get($escala-monocromatica, 'mono-750'),
        hr-color: map-get($escala-monocromatica, 'mono-750'),
    ));
} @else {
    @include variables-css((
        borde-color: map-get($escala-monocromatica, 'mono-250'),
        hr-color: map-get($escala-monocromatica, 'mono-250'),
    ));
}
