//saas\base\generales.scss

// SOMBRAS

.web-sombra {
    box-shadow: 0 0.5rem 1rem rgba($mi_sombra_color, .25);
}
.web-sombra-sm {
    box-shadow: 0 0.1rem .5rem rgba($mi_sombra_color, .25);
}
.web-sombra-lg {
    box-shadow: 0 0.25rem 2rem rgba($mi_sombra_color, .25);
}

// TAMAÑOS DE FUENTE

.web-fs-sm {
    font-size: 0.9rem;
}
.web-fs-xs {
    font-size: 0.8rem;
}

// BOTONES

.web-boton-cerrar {
    @extend .btn-close;
    @extend .me-2;
    @extend .m-auto;
}

.web-boton-circular {
    @extend .btn;
    @extend .btn-secondary;
    @extend .mt-2;
    @extend .mb-2;
    border-radius: 50px;
}

