//saas\base\generales.scss

// CONTENEDORES

.web-cuerpo {
    overflow-x: hidden;
}

.web-contenedor-caja {
    @extend .container;
    @extend .text-center;
    @extend .my-3;
    @extend .px-0;
    @extend .pt-3;
    border-radius: 1.2rem;
    box-shadow: 0 0 1.2rem var(--tema-color-sombra-fondo-rgba);
    background-color: var(--bs-body-bg);
    width: 95%;
    max-width: 960px;
    min-width: 360px;
}

.web-contenedor-transp {
    @extend .container;
    @extend .text-center;
    @extend .px-0;
    width: 100%;
    max-width: 960px;
}

.web-marco {
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

// TAMAÑOS DE FUENTE

.web-fs-sm {
    font-size: 0.9rem;
}
.web-fs-xs {
    font-size: 0.8rem;
}

// BOTONES

.web-boton-cerrar {
    @extend .btn-close;
    @extend .me-2;
    @extend .m-auto;
}

.web-boton-circular {
    @extend .btn;
    @extend .btn-secondary;
    @extend .mt-2;
    @extend .mb-2;
    border-radius: 50px;
}

.web-boton-cuadrado {
    @extend .btn;
    @extend .btn-secondary;
    @extend .btn-lg;
    @extend .me-1;
}

// SIMBOLOS (SVG)

.web-simbolo {
    width: 1rem;
    height: 1rem;
    fill: currentcolor;
}

// ICONOS

.web-icono {
    @extend .col-3;
    @extend .border;
    @extend .mx-1;
    @extend .my-1;
    @extend .pt-2;
    @extend .rounded;
    font-size: 0.75rem;
    width: 22%;
}
.web-icono i {
    @extend .fs-2;
}

// COLUMNAS

.web-columnas-3 {
    @extend .col-sm-6;
    @extend .col-md-4;
    @extend .col-lg-4;
}

// ELEMENTOS

hr {
    border-width: 1px;
    border-style: solid;
    border-color: var(--tema-color-separador);
    opacity: 0.5;
}

.web-titulos {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.web-logo {
    @extend .mx-auto;
    @extend .mt-2;
    @extend .mb-2;
}

.web-letras-oscuras {
    color: var(--web-letras-oscuras-texto);
	text-shadow: 0 0 1px var(--web-letras_oscuras-sombra), -1px -1px 0 var(--web-letras_oscuras-sombra), 1px -1px 0 var(--web-letras_oscuras-sombra), -1px 1px 0 var(--web-letras_oscuras-sombra), 1px 1px 0 var(--web-letras_oscuras-sombra);
    vertical-align: middle;
    font-size: 1.4rem;
	font-weight: 600;
    width: 100%;
}
.web-letras-claras {
    color: var(--web-letras-claras-texto);
	text-shadow: 0 0 1px var(--web-letras-claras-sombra), -1px -1px 0 var(--web-letras-claras-sombra), 1px -1px 0 var(--web-letras-claras-sombra), -1px 1px 0 var(--web-letras-claras-sombra), 1px 1px 0 var(--web-letras-claras-sombra);
    vertical-align: middle;
    font-size: 1.5rem;
	font-weight: 500;
    width: 100%;
}

// UTILES

.web-ocultar-pos-anima {
    visibility: hidden !important;
    animation-fill-mode: forwards;
}

.web-contenido-sobre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
    text-align: center;
    padding: 1rem;
}

.web-caja {
    @extend .col-4;
    @extend .mx-4;
    @extend .my-4;
    @extend .py-3;
    @extend .rounded;
    width: 26%;
    border: 2px solid var(--bs-body-color);
    box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), .25);
    font-size: 0.9rem;
}

.web-btn-tema {
    @extend .btn;
    @extend .btn-sm;
    @extend .px-1;
    @extend .ms-1;
    @extend .mb-1;
}

.web-muestra {
    @extend .p-3;
    @extend .mx-2;
    @extend .my-1;
    @extend .rounded;
    @extend .rounded-3;
    border: 2px solid $gray-500;
}
.web-muestra-caja {
    @extend .p-2;
    @extend .mx-2;
    @extend .my-1;
    @extend .rounded;
    @extend .rounded-3;
    @extend .small;
    border: 3px solid $gray-500;
    min-height: 60px;
}
.web-tabla-muestra {
    @extend .text-start;
    background-color: lightgray;
    color: black;
    width: 100%;
    vertical-align: top;
    border-collapse: collapse;
}
.web-tabla-muestra td {
    @extend .px-3;
    @extend .py-2;
    @extend .small;
}
.web-tabla-muestra th {
    @extend .text-center;
    @extend .px-3;
    @extend .py-1;
    background-color: black;
    color: white;
}
.web-tabla-muestra code {
    @extend .px-1;
    @extend .rounded;
    @extend .rounded-1;
    background-color: $gray-500;
    color: $black;
}

.web-tabla-muestra-tra {
    @extend .text-center;
    width: 100%;
    vertical-align: top;
    border-collapse: collapse;
}
.web-tabla-muestra-tra td {
    @extend .px-2;
    @extend .py-2;
}