[data-bs-theme="chocolate"] {
  --bs-body-color: var(--web-texto-chocolate);
  --bs-body-color-rgb: var(--web-texto-chocolate-rgb);
  --bs-body-bg: var(--web-fondo-chocolate);
  --bs-body-bg-rgb: var(--web-fondo-chocolate-rgb);
  --bs-tertiary-bg: var(--web-color-chocolate-70);

  .dropdown-menu {
    --bs-dropdown-bg: var(--web-color-chocolate-50);
    --bs-dropdown-link-active-bg: var(--web-color-chocolate-30);
  }

}
