[data-bs-theme="cielo"] {
    --bs-body-color: var(--web-texto-cielo);
    --bs-body-color-rgb: var(--web-texto-cielo-rgb);
    --bs-body-bg: var(--web-fondo-cielo);
    --bs-body-bg-rgb: var(--web-fondo-cielo-rgb);
    --bs-tertiary-bg: var(--web-color-cielo-70);
  
    .dropdown-menu {
      --bs-dropdown-bg: var(--web-color-cielo-50);
      --bs-dropdown-link-active-bg: var(--web-color-cielo-30);
    }
  
}
