@use "sass:map";

[data-bs-theme="esmeralda"] {

  $color: map.get($theme-colors, "esmeralda");
  $fondo: $color;
  $texto: $white;
  $enfasis: $texto;
  $primary: green;
  $secondary: gray;
  $tertiary: silver;
  $fondo-secondary: tint-color($color, 50%);
  $fondo-tertiary: tint-color($color, 70%);

  @include cssvars((
    fondo: $fondo,
    texto: $texto,
    enfasis: $enfasis,
    primary: $primary,
    secondary: $secondary,
    tertiary: $tertiary,
    fondo-secondary: $fondo-secondary,
    fondo-tertiary: $fondo-tertiary,
    sombra: shade-color($color, 90%),
    borde: shade-color($color, 50%),
    sobre: shade-color($color, 50%),
    color-10: tint-color($color, 10%),
    color-20: tint-color($color, 20%),
    color-30: tint-color($color, 30%),
    color-40: tint-color($color, 40%),
    color-50: tint-color($color, 50%),
    color-60: tint-color($color, 60%),
    color-70: tint-color($color, 70%),
    color-80: tint-color($color, 80%),
    color-90: tint-color($color, 90%),

    color-rgb: to-rgb($color),
    fondo-rgb: to-rgb($fondo),
    texto-rgb: to-rgb($texto),
    enfasis-rgb: to-rgb($enfasis),
    primary-rgb: to-rgb($primary),
    secondary-rgb: to-rgb($secondary),
    tertiary-rgb: to-rgb($tertiary),
    fondo-secondary-rgb: to-rgb($fondo-secondary),
    fondo-tertiary-rgb: to-rgb($fondo-tertiary),
  ));

  // ----------------------------------------------
  --bs-body-color: #{cssvar(texto)};
  --bs-body-color-rgb: #{cssvar(texto-rgb)};
  --bs-body-bg: #{cssvar(fondo)};
  --bs-body-bg-rgb: #{cssvar(fondo-rgb)};
  --bs-secondary-bg: #{cssvar(fondo-secondary)};
  --bs-secondary-bg-rgb: #{cssvar(fondo-secondary-rgb)};
  --bs-tertiary-bg: #{cssvar(fondo-tertiary)};
  --bs-tertiary-bg-rgb: #{cssvar(fondo-tertiary-rgb)};
  --bs-emphasis-color: #{cssvar(enfasis)};
  --bs-primary-color: #{cssvar(primary)};
  --bs-secondary-color: #{cssvar(secondary)};
  --bs-tertiary-color: #{cssvar(tertiary)};
  --bs-emphasis-color-rgb: #{cssvar(enfasis-rgb)};
  --bs-secondary-color-rgb: #{cssvar(secondary-rgb)};
  --bs-tertiary-color-rgb: #{cssvar(tertiary-rgb)};

  // ----------------------------------------------
  
  --bs-heading-color: #{$headings-color};
  --bs-link-color: #{$link-color};
  --bs-link-hover-color: #{$link-hover-color};
  --bs-link-color-rgb: #{to-rgb($link-color)};
  --bs-link-hover-color-rgb: #{to-rgb($link-hover-color)};
  --bs-code-color: #{$code-color};
  --bs-highlight-color: #{$mark-color};
  --bs-highlight-bg: #{$mark-bg};
  --bs-border-color: #{$border-color};
  --bs-border-color-translucent: #{$border-color-translucent};
  --bs-form-valid-color: #{$form-valid-color};
  --bs-form-valid-border-color: #{$form-valid-border-color};
  --bs-form-invalid-color: #{$form-invalid-color};
  --bs-form-invalid-border-color: #{$form-invalid-border-color};

  // ----------------------------------------------
  --web-fuente-base: Verdana, Geneva, Tahoma, sans-serif;
  --web-fuente-talla: 1rem;
  --web-contenedor-sombra: var(--bs-body-color-rgb);
  --web-letras-oscuras-texto: var(--bs-black);
  --web-letras_oscuras-sombra: var(--bs-gray-500);
  --web-letras-claras-texto: var(--bs-white);
  --web-letras-claras-sombra: var(--bs-gray-800);
  --web-volver-arriba-fondo-normal: var(--bs-gray-900);
  --web-volver-arriba-fondo-activo: var(--bs-black);
  --web-llamada-fondo: var(--bs-tertiary-bg);
  --web-imagen-galeria-borde: var(--bs-gray-500);
  --web-imagen-galeria-sombra: $yellow;
  --web-etiquetas-fondo: var(--bs-gray-500);
  --web-etiquetas-texto: var(--bs-white);

  // ----------------------------------------------
  .dropdown-menu {
    --bs-dropdown-bg: #{cssvar(color-50)};
    --bs-dropdown-link-active-bg: #{cssvar(color-30)};
  }
  
}

