[data-bs-theme="indigo"] {
  $color-tema: "indigo";
  $color-primario: map.get($theme-colors, $color-tema);
  $paleta-basica: null;
  $paleta-ampliada: null;
  $paleta-monocromatica: null;
  $paleta-saturacion: null;
  @import "../base/tema";
}
