[data-bs-theme="light"] {

  $color-primario:  #0d6efd;
  $color-fondo:     #9EC5FE;

  $paleta-basica: (
    'primary':    $color-primario,
    'secondary':  #6c757d,
    'success':    #198754,
    'info':       #0dcaf0,
    'warning':    #ffc107,
    'danger':     #dc3545,
    'light':      #f8f9fa,
    'dark':       #212529,
  );
  $paleta-ampliada: (
    'analo-1':    #240DFD,
    'analo-2':    #0DE6FD,
    'triad-1':    #FD0D6E,
    'triad-2':    #6EFD0D,
    'tetra-1':    #9C0DFD,
    'tetra-2':    #0DFD9C,
    'fondo':      $color-fondo,
    'fondo2':     #569AFE,
    'fondo3':     #9EC5FE,
    'inverso':    #FD9C0D,
    'cuad-1':     #FD0DE6,
    'cuad-2':     #0DFD24,
    'comp-1':     #E6FD0D,
    'comp-2':     #FD240D,
    'accent':     #0B6EFF,
    'highlight':  #0B6EFF,
    'gray':       #adb5bd,
    'white':      #ffffff,
    'black':      #000000,
  );
  $paleta-monocromatica: (
    'mono-1':     #CFE2FF,
    'mono-2':     #9EC5FE,
    'mono-3':     #569AFE,
    'mono-4':     $color-primario,
    'mono-5':     #094DB1,
    'mono-6':     #052C65,
    'mono-7':     #031633,
  );
  $paleta-saturacion: (
    'satu-1':     #6F819B,
    'satu-2':     #4A7AC0,
    'satu-3':     #2573E5,
    'satu-4':     $color-primario,
    'satu-5':     #0B6EFF,
    'satu-6':     #0B6EFF,
    'satu-7':     #0B6EFF,
  );

  @import "../base/tema";

}
