[data-bs-theme="light"] {
    $color-tema: "light";
    $color-primario: map.get($theme-colors, $color-tema);
    $paleta-basica: null;
    $paleta-ampliada: null;
    $paleta-monocromatica: null;
    $paleta-saturacion: null;
    @import "../base/tema";
}
