[data-bs-theme="miel"] {
    $color-primario: map.get($theme-colors, "miel");
    $paleta-basica: generar-paleta-basica($color-primario);
    $paleta-ampliada: generar-paleta-ampliada($color-primario);
    $paleta-mono: generar-paleta-mono($color-primario);
    $paleta-saturacion: generar-paleta-saturacion($color-primario);
    @include configurar-tema(definir-parametros($paleta-basica, $paleta-ampliada, $paleta-mono, $paleta-saturacion));
}
