[data-bs-theme="mostaza"] {
  $color-tema: "mostaza";
  $color-primario: map.get($theme-colors, $color-tema);
  $paleta-basica: generar-paleta-basica($color-primario);
  $paleta-ampliada: generar-paleta-ampliada($color-primario);
  $paleta-monocromatica: generar-paleta-monocromatica($color-primario);
  $paleta-saturacion: generar-paleta-saturacion($color-primario);
  @include configurar-tema(generar-configuracion($paleta-basica, $paleta-ampliada, $paleta-monocromatica, $paleta-saturacion));
}
