[data-bs-theme="yellow"] {
  --bs-body-color: var(--bs-black);
  --bs-body-color-rgb: #{to-rgb($black)};
  --bs-body-bg: var(--bs-yellow);
  --bs-body-bg-rgb: #{to-rgb($yellow)};
  --bs-tertiary-bg: #{$yellow-600};

  .dropdown-menu {
    --bs-dropdown-bg: #{mix($yellow-500, $yellow-600)};
    --bs-dropdown-link-active-bg: #{$yellow-700};
  }

}
