// ESTILOS PERSONALIZADOS

/* Variables utilizadas: $gray-900, $gray-500, $gray-600, $gray-800, $green, $red, $blue, $cyan, $orange, $purple, $indigo, $pink, $white, $black, $yellow, $teal */

.mi_cuerpo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

.mi_container {
    @extend .container;
    @extend .text-center;
    @extend .my-3;
    @extend .px-0;
    @extend .py-3;
    border-radius: 1.2rem;
    box-shadow: 0 0 1.2rem rgba(var(--bs-body-color-rgb), 0.5);
    background-color: var(--bs-bg-color);
    width: 95%;
    max-width: 960px;
    min-width: 360px;
}
.mi_container_2 {
    @extend .container;
    @extend .text-center;
    @extend .px-0;
    width: 100%;
    max-width: 960px;
}

.mi_boton_rrss {
    @extend .btn;
    @extend .btn-secondary;
    @extend .btn-lg;
    @extend .me-1;
}

.mi_burbuja {
    position: relative;
    height: auto;
    padding: 0.9rem;
    background: var(--bs-tertiary-bg);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-style: italic;
    font-size: 0.9rem;
}
.mi_burbuja:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 14px 0;
    border-color: var(--bs-tertiary-bg) transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 30px;
}

#mi_scroll_top {
	display: none;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 20px;
	right: 10px;
	background-image: url(../img/arriba.png);
	background-repeat: no-repeat;
	background-position: 50% 48%;
	background-color: rgba($gray-900, 0.5);
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	transition: all 250ms linear;	
}
#mi_scroll_top:hover {
	background-color: $black;
    position: fixed;
    display: inline;
    z-index: 2147483647;
}

.mi_imagen_galeria {
    @extend .img-fluid;
    @extend .border;
    @extend .border-2;
    @extend .rounded;
    @extend .rounded-0;
    border-color: $gray-500;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.mi_imagen_galeria:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1rem rgba($yellow,0.7);
}
.mi_imagen_galeria:active {
    transform: scale(1.15);
    box-shadow: 0 0 1.2rem rgba($yellow,1);
}

.mi_etiquetas {
    background-color: $gray-600;
    color: $white;
}

.mi_sombra {
    box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), .25);
}
.mi_sombra-sm {
    box-shadow: 0 0.1rem .5rem rgba(var(--bs-body-color-rgb), .25);
}
.mi_sombra-lg {
    box-shadow: 0 0.25rem 2rem rgba(var(--bs-body-color-rgb), .25);
}



.mi_cerrar {
    @extend .btn-close;
    @extend .me-2;
    @extend .m-auto;
}

.mi_video_16x9 {
    @extend .ratio;
    @extend .ratio-16x9;
    @extend .mt-4;
    @extend .mb-4;
}

.mi_mapa {
    @extend .ratio;
    @extend .ratio-4x3;
    @extend .w-75;
    @extend .ms-auto;
    @extend .me-auto;
}

.mi_logo {
    @extend .mx-auto;
    @extend .mt-2;
    @extend .mb-2;
}

.mi_titulo {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.mi_paralaje {
	display: table;
	min-height: 180px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 2rem;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 2rem;
}

.mi_letras_oscuras {
    color: $black;
	text-shadow: 0 0 1px $gray-500, -1px -1px 0 $gray-500, 1px -1px 0 $gray-500, -1px 1px 0 $gray-500, 1px 1px 0 $gray-500;
    vertical-align: middle;
    font-size: 1.4rem;
	font-weight: 600;
    width: 100%;
}
.mi_letras_claras {
    color: $white;
	text-shadow: 0 0 1px $gray-800, -1px -1px 0 $gray-800, 1px -1px 0 $gray-800, -1px 1px 0 $gray-800, 1px 1px 0 $gray-800;
    vertical-align: middle;
    font-size: 1.5rem;
	font-weight: 500;
    width: 100%;
}

.mi_alerta_cookies {
    @extend .alert;
    @extend .text-center;
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: $white;
    background: $black;
}
.mi_alerta_cookies.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}
.mi_alerta_cookies a {
    color: $white;
    text-decoration: underline
}
.mi_alerta_cookies .mi_aceptar_cookies {
    margin-left: 10px;
    vertical-align: baseline;
}
.mi_aceptar_cookies {
    @extend .btn;
    @extend .btn-light;
    @extend .btn-sm;
    padding-top: 2px;
    padding-bottom: 2px;
}

.mi_3_columnas {
    @extend .col-sm-6;
    @extend .col-md-4;
    @extend .col-lg-4;
}

.mi_icono_tarjeta {
    @extend .mt-3;
    font-size: 40px;
}
.mi_texto_tarjeta {
    @extend .mb-3;
    font-size: 0.9em;
}
.mi_imagen_tarjeta {
	margin: 0.8rem 0 1rem 0;
	width: 60%;
	border-radius: 1.5rem;
}

.mi_lightbox {
    @extend .row-cols-1;
    @extend .row-cols-md-2;
    @extend .row-cols-lg-3;
    @extend .g-4;
}

.mi_avatar {
    margin-top: 25px;
    margin-left: 22px;
    margin-bottom: 25px;
}
.mi_avatar .nombre {
    font-weight: 600;
    font-size: 0.9rem;
}
.mi_avatar .leyenda {
    font-weight: 400;
    font-size: 0.8rem;
}
.mi_avatar img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
}

.mi_insignia {
    @extend .badge;
    @extend .rounded-pill;
}

.mi_etiqueta_amarilla {
    background: rgba($yellow, 0.5);
    color: $black;
}
.mi_etiqueta_verde {
    background: rgba($green, 0.5);
    color: $white;
}
.mi_etiqueta_roja {
    background: rgba($red, 0.5);
    color: $white;
}
.mi_etiqueta_celeste {
    background: rgba($cyan, 0.5);
    color: $black;
}
.mi_etiqueta_naranja {
    background: rgba($orange, 0.5);
    color: $white;
}
.mi_etiqueta_purpura {
    background: rgba($purple, 0.5);
    color: $white;
}
.mi_etiqueta_rosada {
    background: rgba($pink, 0.5);
    color: $black;
}
.mi_etiqueta_azul {
    background: rgba($blue, 0.5);
    color: $white;
}
.mi_etiqueta_indigo {
    background: rgba($indigo, 0.5);
    color: $white;
}
.mi_etiqueta_turquesa {
    background: rgba($teal, 0.5);
    color: $black;
}
.mi_etiqueta_blanca {
    background: rgba($white, 0.5);
    color: $black;
}

.mi_persona {
    @extend .my-2;
    min-width: 300px;
}
.mi_persona .nombre {
    @extend .mt-2;
    font-weight: 600;
    font-size: 1rem;
}
.mi_persona .leyenda {
    @extend .mb-2;
    font-weight: 400;
    font-size: 0.9rem;
}
.mi_persona img {
    @extend .img-fluid;
    @extend .rounded-circle;
}

.mi_boton_redondo {
    @extend .btn;
    @extend .btn-secondary;
    @extend .mt-2;
    @extend .mb-2;
    border-radius: 50px;
}

.mi_label {
    @extend .col-3;
    @extend .col-form-label;
    line-height: 2;
}
.mi_campo {
    @extend .col-9;
    line-height: 2;
}

.mi_notificaciones {
    @extend .toast-container;
    @extend .position-fixed;
    @extend .top-0;
    @extend .end-0;
    @extend .p-3;
}

#mi_barra_vertical {
    @extend .navbar;
    @extend .fixed-top;
}
#mi_barra_vertical .mi_menu {
    @extend .navbar-nav;
    @extend .justify-content-end;
    @extend .flex-grow-1;
    @extend .pe-3;
    @extend .text-start;
}
#mi_barra_vertical .mi_submenu {
    @extend .text-start;
}

#mi_barra_horizontal {
    @extend .navbar;
    @extend .sticky-top;
    @extend .navbar-expand-lg;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 0.9rem;
}
#mi_barra_horizontal .mi_menu {
    @extend .navbar-nav;
    @extend .ms-auto;
    @extend .mb-2;
    @extend .mb-lg-0;
    @extend .text-start;
}
#mi_barra_horizontal .mi_submenu {
    @extend .text-start;
}

.mi_item_menu {
    @extend .ps-2;
    @extend .pe-3;
    font-size: 0.9rem;
}
.mi_item_submenu {
    @extend .py-2;
    @extend .ps-2;
    @extend .pe-3;
    font-size: 0.9rem;
}
.mi_marca_menu {
    @extend .navbar-brand;
    margin-right: 0.4rem;
    font-size: 1.6rem;
    padding-top: 0;
    padding-bottom: 0;
}

.mi_simbolo {
    width: 1rem;
    height: 1rem;
    fill: currentcolor;
}

#mi_cargador {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
	background-color: $gray-800;
}
#cargador {
    display: block;
    position: relative;
    left: 50%;
    top: 25%;
    margin: -35px 0 0 -35px;
}
.cargando {
    display: block;
    width: 70px;
    height: 70px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.cargando .figura {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
}
.cargando .figura:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    -webkit-animation: animacionFigura 2.4s infinite linear both;
    animation: animacionFigura 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.cargando .figura2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.cargando .figura3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.cargando .figura4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.cargando .figura2:before {
    background-color: red;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.cargando .figura3:before {
    background-color: yellow;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; 
}
.cargando .figura4:before {
    background-color: blue;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes animacionFigura {
    0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
    } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
    } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
    }
}
@keyframes animacionFigura {
    0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
    } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
    } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
    }
}

.mi_carrusel .carousel-item .item {
    height: 100%;
    background: no-repeat center center scroll;
    background-size: cover;
}
.mi_carrusel .carousel-item .imagen {
    @extend .w-100;
    display: block;
    min-height: 250px;
    object-fit: cover;
}
.mi_carrusel .carousel-item .boton {
    @extend .bg-secondary;
    @extend .p-2;
    border-radius: 1rem;
}

.mi_fondo .carousel-item {
    height: 100%;
    min-height: 250px;
    background: no-repeat center center scroll;
    background-size: cover;
}
.mi_fondo .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.mi_fondo_pagina {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.mi_video_pagina {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: auto;
    min-height: 480px;
    object-fit:cover;
}

.mi_seccion_con_video {
    position: relative;
    width: 100%;
    height: 480px;
    overflow: hidden;
}
.mi_seccion_con_video .mi_video_fondo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}
.mi_contenido_sobre_video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1;
    color: $white;
    text-align: center;
    padding: 1rem;
}
.mi_ocultar_pos_animacion {
    visibility: hidden !important;
    animation-fill-mode: forwards;
}

.mi_marco {
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.mi_icono {
    @extend .col-3;
    @extend .border;
    @extend .border-secondary;
    @extend .mx-1;
    @extend .my-1;
    @extend .pt-2;
    @extend .rounded;
    font-size: 0.75rem;
    width: 22%;
}
.mi_icono i {
    @extend .fs-2;
}

.mi_mas-3 {
    transform: rotate(+3deg);
}
.mi_men-3 {
    transform: rotate(-3deg);
}
.mi_mas-5 {
    transform: rotate(+5deg);
}
.mi_men-5 {
    transform: rotate(-5deg);
}
.mi_mas-7 {
    transform: rotate(+7deg);
}
.mi_men-7 {
    transform: rotate(-7deg);
}
.mi_mas-9 {
    transform: rotate(+9deg);
}
.mi_men-9 {
    transform: rotate(-9deg);
}
.mi_mas-11 {
    transform: rotate(+11deg);
}
.mi_men-11 {
    transform: rotate(-11deg);
}
.mi_mas-13 {
    transform: rotate(+13deg);
}
.mi_men-13 {
    transform: rotate(-13deg);
}
.mi_mas-15 {
    transform: rotate(+15deg);
}
.mi_men-15 {
    transform: rotate(-15deg);
}

// ESTILOS EXTENDIDOS

.fs-sm {
    font-size: 0.9rem;
}
.fs-xs {
    font-size: 0.8rem;
}

//FUENTES INTEGRADAS

.courier-new {
    font-family: 'Courier New', Courier, monospace;
}
.gill-sans {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lucida-sans {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.segoe-ui {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.times-new-roman {
    font-family: 'Times New Roman', Times, serif;
}
.trebuchet-ms {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.arial {
    font-family: Arial, Helvetica, sans-serif;
}
.cambria {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

// FUENTES INSTALABLES

.shadows-into-light {
    font-family: "Shadows Into Light", cursive;
    font-weight: 500;
}
.gochi-hand {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
}
