:root {
    --body-bg-color: #f0f0f0;
    --container-bg-color: #fff;
    --container-border-radius: 12px;
    --container-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    --chat-content-bg-color: #e9e9e9;
}

.body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: var(--body-bg-color);
}

.container {
    background-color: var(--container-bg-color);
    border-radius: var(--container-border-radius);
    box-shadow: var(--container-box-shadow);
    width: 90%;
    max-width: 760px;
    min-width: 350px;
    padding: 20px;
}

.logo {
    width: 256px;
    margin: 16px auto;
}

h4 {
    font-style: italic;
    margin-bottom: 32px;
}

h5 {
    font-style: italic;
    margin-top: 32px;
}

#botonera {
    margin-top: 24px;
    margin-bottom: 48px;
}

.contacto {
    margin-top: 24px;
    margin-bottom: 24px;
}

.derechos {
    font-size: 12px;
    font-style: italic;
}
