[data-bs-theme="light"] {

  $color-primario:  #0d6efd;
  $color-fondo:     #9EC5FE;

  $paleta-basica: (
    'primary':    $color-primario,
    'secondary':  #6c757d,
    'success':    #198754,
    'info':       #0dcaf0,
    'warning':    #ffc107,
    'danger':     #dc3545,
    'light':      #f8f9fa,
    'dark':       #212529,
    'gray':       #adb5bd,
    'white':      #ffffff,
  );
  $paleta-ampliada: (
    'analo1':     #240DFD,
    'analo2':     #0DE6FD,
    'triad1':     #FD0D6E,
    'triad2':     #6EFD0D,
    'tetra1':     #9C0DFD,
    'tetra2':     #0DFD9C,
    'fondo':      $color-fondo,
    'fondo2':     #B3CEF6,
    'fondo3':     #D9E6FB,
    'inverso':    #FD9C0D,
    'cuad1':      #FD0DE6,
    'cuad2':      #0DFD24,
    'comp1':      #E6FD0D,
    'comp2':      #FD240D,
    'accent':     #0057D7,
    'bright':     #589BFF,
    'marked':     #FFFF71,
    'soft':       #7E94F1,
  );
  $paleta-mono: (
    'mono1':      #CFE2FF,
    'mono2':      #9EC5FE,
    'mono3':      #569AFE,
    'mono4':      $color-primario,
    'mono5':      #094DB1,
    'mono6':      #052C65,
    'mono7':      #031633,
  );
  $paleta-saturacion: (
    'satu1':      #6F819B,
    'satu2':      #4A7AC0,
    'satu3':      #2573E5,
    'satu4':      $color-primario,
    'satu5':      #0B6EFF,
    'satu6':      #0B6EFF,
    'satu7':      #0B6EFF,
  );

  @include configurar-tema(definir-parametros($paleta-basica, $paleta-ampliada, $paleta-mono, $paleta-saturacion));

}
