//saas\personalizados\dis-base.scss

@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

// PERSONALIZACION DE VARIABLES

/*
$primary:    $blue;
$secondary:  $gray-600;
$success:    $green;
$danger:     $red;
$warning:    $yellow;
$info:       $cyan;
$light:      $gray-100;
$dark:       $gray-900;

$body-color:         $gray-900;
$body-bg:            $gray-200;
$link-color:         $body-color;

$body-color-dark:    $gray-300;
$body-bg-dark:       $gray-900;
$link-color-dark:    $body-color-dark;

$theme-colors: (
"primary": $primary,
"secondary": $secondary,
"success": $success,
"info": $info,
"warning": $warning,
"danger": $danger,
"light": $light,
"dark": $dark,
);

$accordion-button-color: $gray-900;
$accordion-button-bg: $gray-400;
$accordion-button-active-color: $black;
$accordion-button-active-bg: $gray-200;
$accordion-color: $body-color;
$accordion-bg: color-contrast($body-color);

*/

@import "../bootstrap/scss/bootstrap";

// ESTILOS PERSONALIZADOS

.mi_container {
    @extend .container;
    @extend .text-center;
    border-radius: 1.2rem;
    box-shadow: 0 0 1.2rem rgba(var(--bs-body-color-rgb), 0.5);
    background-color: var(--bs-bg-color);
    width: 90%;
    max-width: 800px;
    min-width: 360px;
    padding: 1.2rem;
}

.mi_boton_rrss {
    @extend .btn;
    @extend .btn-secondary;
    @extend .btn-lg;
    @extend .me-1;
}

.mi_cerrar {
    @extend .btn-close;
    @extend .me-2;
    @extend .m-auto;
}

.mi_burbuja {
    position: relative;
    height: auto;
    padding: 0.9rem;
    background: var(--bs-tertiary-bg);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-style: italic;
    font-size: 0.9rem;
}
.mi_burbuja:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 14px 0;
    border-color: var(--bs-tertiary-bg) transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 30px;
}

.mi_video_16x9 {
    @extend .ratio;
    @extend .ratio-16x9;
    @extend .mt-4;
    @extend .mb-4;
}

.mi_mapa {
    @extend .ratio;
    @extend .ratio-4x3;
    @extend .mt-4;
    @extend .mb-4;
    @extend .w-75;
    @extend .ms-auto;
    @extend .me-auto;
 }

.mi_alerta {
    @extend .alert;
    @extend .alert-dismissible;
    @extend .text-dark;
    @extend .fade;
    @extend .show;
    @extend .border;
    @extend .border-3;
    position: fixed;
    top: 20px;
    right: 50px;
    left: auto;
    z-index: 10001;
    transition-duration: 0.5s;
}

.mi_logo {
    @extend .mx-auto;
    @extend .mt-2;
    @extend .mb-2;
}

.mi_cuerpo {
    @extend .my-2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

.mi_titulo {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.mi_botonera {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mi_paralaje {
    @extend .mb-2;
	display: table;
	min-height: 180px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 2rem;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 2rem;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
}

.mi_letras_oscuras {
    color: $black;
	text-shadow: 0 0 1px $gray-500, -1px -1px 0 $gray-500, 1px -1px 0 $gray-500, -1px 1px 0 $gray-500, 1px 1px 0 $gray-500;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5rem;
	font-weight: 600;
    width: 100%;
}
.mi_letras_claras {
    color: $white;
	text-shadow: 0 0 1px $gray-800, -1px -1px 0 $gray-800, 1px -1px 0 $gray-800, -1px 1px 0 $gray-800, 1px 1px 0 $gray-800;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5rem;
	font-weight: 500;
    width: 100%;
}

#mi_carrusel {
    margin-left: -1.2rem;
    margin-right: -1.2rem;
}
.mi_imagen_carrusel {
    @extend .d-block;
    @extend .w-100;
}
.mi_boton_carrusel {
    @extend .bg-secondary;
    @extend .p-2;
    border-radius: 1rem;

}

#mi_scroll_top {
	display: none;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 20px;
	right: 10px;
	background-image: url(../img/arriba.png);
	background-repeat: no-repeat;
	background-position: 50% 48%;
	background-color: rgba($gray-900, 0.5);
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	transition: all 250ms linear;	
}
#mi_scroll_top:hover {
	background-color: $black;
    position: fixed;
    display: inline;
    z-index: 2147483647;
}

.mi_alerta_cookies {
    @extend .alert;
    @extend .text-center;
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: $white;
    background: $black;
}
.mi_alerta_cookies.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}
.mi_alerta_cookies a {
    color: $white;
    text-decoration: underline
}
.mi_alerta_cookies .mi_aceptar_cookies {
    margin-left: 10px;
    vertical-align: baseline;
}
.mi_aceptar_cookies {
    @extend .btn;
    @extend .btn-light;
    @extend .btn-sm;
    padding-top: 2px;
    padding-bottom: 2px;
}

.mi_3_columnas {
    @extend .col-sm-6;
    @extend .col-md-4;
    @extend .col-lg-4;
}

.mi_icono_tarjeta {
    font-size: 40px;
}
.mi_texto_tarjeta {
    font-size: 0.9em;
}
.mi_imagen_tarjeta {
	margin: 0.8rem 0 1rem 0;
	width: 60%;
	border-radius: 1.5rem;
}

.mi_lightbox {
    @extend .row-cols-1;
    @extend .row-cols-md-2;
    @extend .row-cols-lg-3;
    @extend .g-4;
}

.mi_imagen_galeria {
    @extend .img-fluid;
    @extend .border;
    @extend .border-2;
    @extend .rounded;
    @extend .rounded-0;
    border-color: $gray-500;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.mi_imagen_galeria:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1rem rgba($yellow,0.7);
}
.mi_imagen_galeria:active {
    transform: scale(1.15);
    box-shadow: 0 0 1.2rem rgba($yellow,1);
}

.mi_avatar {
    margin-top: 25px;
    margin-left: 22px;
    margin-bottom: 25px;
}
.mi_avatar .nombre {
    font-weight: 600;
    font-size: 0.9rem;
}
.mi_avatar .leyenda {
    font-weight: 400;
    font-size: 0.8rem;
}
.mi_avatar img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
}

.mi_etiquetas {
    @extend .mb-2;
    background-color: $gray-600;
    color: $white;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
}

.mi_insignia {
    @extend .badge;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.mi_etiqueta_amarilla {
    background: rgba($yellow, 0.5);
    color: $black;
}
.mi_etiqueta_verde {
    background: rgba($green, 0.5);
    color: $white;
}
.mi_etiqueta_roja {
    background: rgba($red, 0.5);
    color: $white;
}
.mi_etiqueta_celeste {
    background: rgba($cyan, 0.5);
    color: $black;
}
.mi_etiqueta_naranja {
    background: rgba($orange, 0.5);
    color: $white;
}
.mi_etiqueta_purpura {
    background: rgba($purple, 0.5);
    color: $white;
}
.mi_etiqueta_rosada {
    background: rgba($pink, 0.5);
    color: $black;
}
.mi_etiqueta_azul {
    background: rgba($blue, 0.5);
    color: $white;
}
.mi_etiqueta_indigo {
    background: rgba($indigo, 0.5);
    color: $white;
}
.mi_etiqueta_turquesa {
    background: rgba($teal, 0.5);
    color: $black;
}
.mi_etiqueta_blanca {
    background: rgba($white, 0.5);
    color: $black;
}

.mi_persona {
    @extend .mt-2;
    @extend .mb-3;
    min-width: 300px;
}
.mi_persona .nombre {
    @extend .mt-2;
    font-weight: 600;
    font-size: 1rem;
}
.mi_persona .leyenda {
    @extend .mb-2;
    font-weight: 400;
    font-size: 0.9rem;
}
.mi_persona img {
    @extend .img-fluid;
    @extend .rounded-circle;
}

.mi_boton_redondo {
    @extend .btn;
    @extend .btn-secondary;
    @extend .mt-2;
    @extend .mb-2;
    border-radius: 50px;
}

.mi_columna {
    @extend .col;
}

.mi_texto_acordeon {
    @extend .text-start;
    font-size: 0.9em;
}

.mi_label {
    @extend .col-3;
    @extend .col-form-label;
    line-height: 2;
}
.mi_campo {
    @extend .col-9;
    line-height: 2;
}

#mi_notificacion {
    @extend .pe-2;
}
.mi_notificaciones {
    @extend .toast-container;
    @extend .position-fixed;
    @extend .top-0;
    @extend .end-0;
    @extend .p-3;
}

#mi_barra_vertical {
    @extend .navbar;
    @extend .fixed-top;
}
#mi_barra_vertical .mi_menu {
    @extend .navbar-nav;
    @extend .justify-content-end;
    @extend .flex-grow-1;
    @extend .pe-3;
    @extend .text-start;
}
#mi_barra_vertical .mi_submenu {
    @extend .text-start;
}

#mi_barra_horizontal {
    @extend .navbar;
    @extend .sticky-top;
    @extend .navbar-expand-lg;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 0.9rem;
}
#mi_barra_horizontal .mi_menu {
    @extend .navbar-nav;
    @extend .ms-auto;
    @extend .mb-2;
    @extend .mb-lg-0;
    @extend .text-start;
}
#mi_barra_horizontal .mi_submenu {
    @extend .text-start;
}

.mi_item_menu {
    @extend .ps-2;
    @extend .pe-3;
    font-size: 0.9rem;
}
.mi_marca_menu {
    @extend .navbar-brand;
    margin-right: 0.4rem;
    font-size: 1.6rem;
    padding-top: 0;
    padding-bottom: 0;
}

.mi_simbolo {
    width: 1rem;
    height: 1rem;
    fill: currentcolor;
}

.mi_oculto {
    display: none;
}
.mi_visible {
    display: block;
}

#mi_cargador {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
	background-color: #999;
}
#cargador {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -35px;
}
.cargando {
    display: block;
    width: 70px;
    height: 70px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.cargando .figura {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); 
}
.cargando .figura:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    -webkit-animation: animacionFigura 2.4s infinite linear both;
    animation: animacionFigura 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.cargando .figura2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}
.cargando .figura3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}
.cargando .figura4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}
.cargando .figura2:before {
    background-color: red;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.cargando .figura3:before {
    background-color: yellow;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; 
}
.cargando .figura4:before {
    background-color: blue;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
@-webkit-keyframes animacionFigura {
    0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
    } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
    } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
    }
}
@keyframes animacionFigura {
    0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
    } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
    } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
    }
}


.contacto {
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
}

.derechos {
    font-size: 0.75rem;
    font-style: italic;
}
