//saas\personalizados\bootstrap.5.3.3.scss

@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

$modal-sm:   300px;
$modal-md:   500px;
$modal-lg:   800px;
$modal-xl:   1140px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1220px,
  xxl: 1520px
);

$primary:    $blue;
$secondary:  $gray-600;
$success:    $green;
$danger:     $red;
$warning:    $yellow;
$info:       $cyan;
$light:      $gray-100;
$dark:       $gray-900;

$body-color:         $gray-900;
$body-bg:            $gray-200;
$link-color:         $body-color;

$body-color-dark:    $gray-300;
$body-bg-dark:       $gray-900;
$link-color-dark:    $body-color-dark;

@import "../bootstrap/scss/bootstrap";

// ESTILOS PERSONALIZADOS

.mi_container {
    @extend .container;
    @extend .text-center;
    border-radius: 1.2rem;
    box-shadow: 0 0 1.2rem rgba($body-color, 0.5);
    background-color: color-contrast($body-color);
    width: 90%;
    max-width: 800px;
    min-width: 360px;
    padding: 1.2rem;
}

.mi_boton_rrss {
    @extend .btn;
    @extend .btn-outline-dark;
    @extend .btn-lg;
    @extend .me-1;
}

.mi_video_16x9 {
    @extend .ratio;
    @extend .ratio-16x9;
    @extend .mt-4;
    @extend .mb-4;
}

.mi_mapa {
    @extend .ratio;
    @extend .ratio-4x3;
    @extend .mt-4;
    @extend .mb-4;
    @extend .w-75;
    @extend .ms-auto;
    @extend .me-auto;
 }

.mi_alerta {
    @extend .alert;
    @extend .alert-dismissible;
    @extend .text-dark;
    @extend .fade;
    @extend .show;
    @extend .border;
    @extend .border-3;
    position: fixed;
    top: 20px;
    right: 50px;
    left: auto;
    z-index: 10001;
    transition-duration: 0.5s;
}

.mi_logo {
    @extend .mx-auto;
    @extend .mt-2;
    @extend .mb-2;
}

.mi_body {
    @extend .my-2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

.mi_titulo {
    font-style: italic;
    margin-bottom: 2rem;
}

.mi_paralaje {
    @extend .mb-2;
	display: table;
	min-height: 180px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 2rem;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 2rem;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
}

.mi_letras_oscuras {
    color: $black;
	text-shadow: 0 0 1px $gray-500, -1px -1px 0 $gray-500, 1px -1px 0 $gray-500, -1px 1px 0 $gray-500, 1px 1px 0 $gray-500;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5rem;
	font-weight: 600;
    width: 100%;
}

.mi_letras_claras {
    color: $white;
	text-shadow: 0 0 1px $gray-800, -1px -1px 0 $gray-800, 1px -1px 0 $gray-800, -1px 1px 0 $gray-800, 1px 1px 0 $gray-800;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5rem;
	font-weight: 500;
    width: 100%;
}

.mi_carrusel {
    @extend .carousel;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
}

.mi_imagen_carrusel {
    @extend .d-block;
    @extend .w-100;
}

.mi_volver_arriba {
	display: none;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 20px;
	right: 10px;
	background-image: url(../img/arriba.png);
	background-repeat: no-repeat;
	background-position: 50% 48%;
	background-color: rgba($gray-900, 0.5);
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	transition: all 250ms linear;	
}

.mi_volver_arriba:hover {
	background-color: $black;
    position: fixed;
    display: inline;
    z-index: 2147483647;
}

.mi_alerta_cookies {
    @extend .alert;
    @extend .text-center;
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: $white;
    background: $black;
}

.mi_alerta_cookies.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.mi_alerta_cookies a {
    color: $white;
    text-decoration: underline
}

.mi_alerta_cookies .mi_aceptar_cookies {
    margin-left: 10px;
    vertical-align: baseline;
}

.mi_aceptar_cookies {
    @extend .btn;
    @extend .btn-light;
    @extend .btn-sm;
    padding-top: 2px;
    padding-bottom: 2px;
}

