//saas\personalizados\teatrolaraiz.scss
@import "../colores";

// PERSONALIZACION DE VARIABLES

$primary:         $indigo;
$secondary:       $gray-600;
$success:         $green;
$info:            $cyan;
$warning:         $yellow;
$danger:          $red;
$light:           $gray-100;
$dark:            $gray-900;

$body-color:      $gray-900;
$body-bg:         $gray-200;
$body-color-dark: $gray-300;
$body-bg-dark:    $gray-900;
$link-color:      $body-color;
$link-color-dark: $body-color-dark;

@import "../bootstrap/scss/bootstrap";
@import "../comunes";
@import "../fuentes";
