//saas\personalizados\teatrolaraiz.scss
@import "../base/colores";

// PERSONALIZACION DE VARIABLES

$primary:         $indigo;
$secondary:       $gray-600;
$success:         $green;
$info:            $cyan;
$warning:         $yellow;
$danger:          $red;
$light:           $gray-100;
$dark:            $gray-900;

$body-color:      $gray-900;
$body-bg:         $gray-200;
$body-color-dark: $gray-300;
$body-bg-dark:    $gray-900;
$link-color:      $body-color;
$link-color-dark: $body-color-dark;

@import "../bootstrap/scss/bootstrap";

// ESTILOS ESPECIFICOS

$mi_cuerpo_fuente: Verdana, Geneva, Tahoma, sans-serif;
$mi_sombra_color: var(--bs-body-color-rgb);
$mi_contenedor_sombra_color: var(--bs-body-color-rgb);
$mi_contenedor_fondo: var(--bs-bg-color);
$mi_letras_oscuras_sombra: $gray-500;
$mi_letras_claras_sombra: $gray-800;
$mi_letras_oscuras_texto: $black;
$mi_letras_claras_texto: $white;
@import "../base/generales";

$mi_volver_arriba_fondo: $gray-900;
$mi_volver_arriba_sobre: $black;
$mi_imagen_galeria_borde_normal: $gray-500;
$mi_imagen_galeria_borde_sobre: $yellow;
$mi_imagen_galeria_borde_activo: $yellow;
$mi_llamada_fondo: var(--bs-tertiary-bg);
$mi_llamada_borde: var(--bs-tertiary-bg);
@import "../base/componentes";

$mi_cargador_fondo: $gray-800;
@import "../base/cargador";

$mi_etiquetas_fondo: $gray-600;
$mi_etiquetas_texto: $white;
@import "../base/etiquetas";

$mi_alerta_cookies_fondo: $black;
$mi_alerta_cookies_texto: $white;
@import "../base/cookies";

@import "../base/formularios";
@import "../base/menus";
@import "../base/videos";
@import "../base/fuentes";
