//saas\personalizados\teatrolaraiz.scss

@import "../base/colores";
@import "../base/ayudantes";

// ----------------------------------------------
// PERSONALIZACION DE VARIABLES SAAS GLOBALES

//$primary:         $blue;
//$secondary:       $gray-600;
//$success:         $green;
//$info:            $cyan;
//$warning:         $yellow;
//$danger:          $red;
//$light:           $gray-100;
//$dark:            $gray-900;

$body-color:      $gray-900;
$body-bg:         $gray-200;
$body-color-dark: $gray-300;
$body-bg-dark:    $gray-900;
$link-color:      $body-color;
$link-color-dark: $body-color-dark;

// ----------------------------------------------
// BOOTSTRAP (version 5.3.3)

@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";

// ----------------------------------------------
// Personalizacion modos de colores
$theme-colors: map-merge($theme-colors, $colores-claros);
$theme-colors: map-merge($theme-colors, $colores-oscuros);

@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/utilities";

// ----------------------------------------------
// Diseño + componentes + utiles
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/tables";
@import "../bootstrap/scss/forms";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/transitions";
@import "../bootstrap/scss/dropdown";
@import "../bootstrap/scss/button-group";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/card";
@import "../bootstrap/scss/accordion";
@import "../bootstrap/scss/badge";
@import "../bootstrap/scss/alert";
@import "../bootstrap/scss/list-group";
@import "../bootstrap/scss/close";
@import "../bootstrap/scss/toasts";
@import "../bootstrap/scss/modal";
@import "../bootstrap/scss/tooltip";
@import "../bootstrap/scss/carousel";
@import "../bootstrap/scss/offcanvas";
@import "../bootstrap/scss/helpers";
@import "../bootstrap/scss/utilities/api";

// ----------------------------------------------
// TEMAS PERSONALIZADOS (JUEGOS DE ESTILOS)

@import "../temas/acero", "../temas/agata", "../temas/aguamarina", "../temas/amatista", "../temas/azul", "../temas/bermellon", "../temas/blue", "../temas/botella", "../temas/burdeos", "../temas/cafe", "../temas/caoba", "../temas/cardo", "../temas/chocolate", "../temas/cielo", "../temas/cobalto", "../temas/crema", "../temas/cyan", "../temas/esmeralda", "../temas/green", "../temas/gris", "../temas/hoja", "../temas/icterina", "../temas/indigo", "../temas/limon", "../temas/marron", "../temas/musgo", "../temas/noche", "../temas/nuez", "../temas/orange", "../temas/perla", "../temas/pink", "../temas/purple", "../temas/red", "../temas/rosado", "../temas/teal", "../temas/verde", "../temas/verdeamar", "../temas/vino", "../temas/yellow", "../temas/zafiro";

// ----------------------------------------------
// ESTILOS ESPECIALES DE LA PLANTILLA (WEB)

@import "../base/generales";
@import "../base/componentes";
@import "../base/etiquetas";
@import "../base/cargando";
@import "../base/cookies";
@import "../base/formularios";
@import "../base/tablas";
@import "../base/menus";
@import "../base/videos";
@import "../base/fuentes";

