//saas\personalizados\teatrolaraiz.scss

@import "../base/colores";

// ----------------------------------------------
// PERSONALIZACION DE VARIABLES GLOBALES

$primary:         $blue;
//$secondary:       $gray-600;
//$success:         $green;
//$info:            $cyan;
//$warning:         $yellow;
//$danger:          $red;
//$light:           $gray-100;
//$dark:            $gray-900;

$body-color:      $gray-900;
$body-bg:         $gray-200;
$body-color-dark: $gray-300;
$body-bg-dark:    $gray-900;
$link-color:      $body-color;
$link-color-dark: $body-color-dark;

// ----------------------------------------------
// BOOTSTRAP (version 5.3.3)

@import "../bootstrap/scss/bootstrap";

// ----------------------------------------------
// TEMAS PERSONALIZADOS (JUEGOS DE ESTILOS)

@import "../temas/blue";
@import "../temas/cyan";
@import "../temas/green";
@import "../temas/indigo";
@import "../temas/orange";
@import "../temas/pink";
@import "../temas/purple";
@import "../temas/red";
@import "../temas/teal";
@import "../temas/yellow";

// ----------------------------------------------
// ESTILOS DEFINIDOS EN LA PLANTILLA (WEB)

$web_fuente_base: Verdana, Geneva, Tahoma, sans-serif;
$web_contenedor_sombra: var(--bs-body-color-rgb);
$web_letras_oscuras_texto: var(--bs-black);
$web_letras_oscuras_sombra: var(--bs-gray-500);
$web_letras_claras_texto: var(--bs-white);
$web_letras_claras_sombra: var(--bs-gray-800);
@import "../base/generales";

$web_volver_arriba_fondo_normal: var(--bs-gray-900);
$web_volver_arriba_fondo_activo: var(--bs-black);
$web_llamada_fondo: var(--bs-tertiary-bg);
$web_imagen_galeria_borde: var(--bs-gray-500);
$web_imagen_galeria_sombra: $yellow;
@import "../base/componentes";

$web_etiquetas_fondo: var(--bs-gray-500);
$web_etiquetas_texto: var(--bs-white);
@import "../base/etiquetas";

@import "../base/cargando";
@import "../base/cookies";
@import "../base/formularios";
@import "../base/tablas";
@import "../base/menus";
@import "../base/videos";
@import "../base/fuentes";

// ----------------------------------------------
// ESTILOS PERSONALIZADOS ADICIONALES

