//saas\personalizados\teatrolaraiz.scss

@import "../base/colores";

// ----------------------------------------------
// PERSONALIZACION DE VARIABLES SAAS GLOBALES

$primary:         $blue;
$secondary:       $gray-600;
//$success:         $green;
//$info:            $cyan;
//$warning:         $yellow;
//$danger:          $red;
//$light:           $gray-100;
//$dark:            $gray-900;

$body-color:      $gray-900;
$body-bg:         $gray-200;
$body-color-dark: $gray-300;
$body-bg-dark:    $gray-900;
$link-color:      $body-color;
$link-color-dark: $body-color-dark;

// ----------------------------------------------
// BOOTSTRAP (version 5.3.3)

@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";

// ----------------------------------------------
// Personalizacion de colores
@each $color, $value in $colores-claros {
    .bg-#{$color} {
      background-color: $value !important;
    }
    .text-#{$color} {
      color: $value !important;
    }
}
@each $color, $value in $colores-oscuros {
    .bg-#{$color} {
      background-color: $value !important;
    }
    .text-#{$color} {
      color: $value !important;
    }
}
$theme-colors: map-merge($theme-colors, $colores-claros);
$theme-colors: map-merge($theme-colors, $colores-oscuros);

@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/utilities";

@each $color, $value in $colores-claros {
    // Modo Light
    $theme-colors-text: map-merge($theme-colors-text, ($color: $value));
    $theme-colors-bg-subtle: map-merge($theme-colors-bg-subtle, ($color: tint-color($value, 80%)));
    $theme-colors-border-subtle: map-merge($theme-colors-border-subtle, ($color: tint-color($value, 50%)));
    // Modo Dark
    $theme-colors-text-dark: map-merge($theme-colors-text-dark, ($color: tint-color($value, 80%)));
    $theme-colors-bg-subtle-dark: map-merge($theme-colors-bg-subtle-dark, ($color: tint-color($value, 30%)));
    $theme-colors-border-subtle-dark: map-merge($theme-colors-border-subtle-dark, ($color: tint-color($value, 80%)));
}
@each $color, $value in $colores-oscuros {
    // Modo Light
    $theme-colors-text: map-merge($theme-colors-text, ($color: $value));
    $theme-colors-bg-subtle: map-merge($theme-colors-bg-subtle, ($color: tint-color($value, 80%)));
    $theme-colors-border-subtle: map-merge($theme-colors-border-subtle, ($color: tint-color($value, 50%)));
    // Modo Dark
    $theme-colors-text-dark: map-merge($theme-colors-text-dark, ($color: tint-color($value, 80%)));
    $theme-colors-bg-subtle-dark: map-merge($theme-colors-bg-subtle-dark, ($color: tint-color($value, 30%)));
    $theme-colors-border-subtle-dark: map-merge($theme-colors-border-subtle-dark, ($color: tint-color($value, 80%)));
}

// ----------------------------------------------
// Diseño + componentes + utiles
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/tables";
@import "../bootstrap/scss/forms";
@import "../bootstrap/scss/buttons";
@import "../bootstrap/scss/transitions";
@import "../bootstrap/scss/dropdown";
@import "../bootstrap/scss/button-group";
@import "../bootstrap/scss/nav";
@import "../bootstrap/scss/navbar";
@import "../bootstrap/scss/card";
@import "../bootstrap/scss/accordion";
@import "../bootstrap/scss/badge";
@import "../bootstrap/scss/alert";
@import "../bootstrap/scss/list-group";
@import "../bootstrap/scss/close";
@import "../bootstrap/scss/toasts";
@import "../bootstrap/scss/modal";
@import "../bootstrap/scss/tooltip";
@import "../bootstrap/scss/carousel";
@import "../bootstrap/scss/offcanvas";
@import "../bootstrap/scss/helpers";
@import "../bootstrap/scss/utilities/api";

// ----------------------------------------------
// TEMAS PERSONALIZADOS (JUEGOS DE ESTILOS)

// ----------------------------------------------
// Definicion de variables CSS por temas
:root {
    @each $color, $value in $colores-claros {
        --web-color-#{$color}: #{$value};
        --web-color-#{$color}-30: #{tint-color($value, 30%)};
        --web-color-#{$color}-50: #{tint-color($value, 50%)};
        --web-color-#{$color}-70: #{tint-color($value, 70%)};
        --web-fondo-#{$color}: #{$value};
        --web-fondo-#{$color}-rgb: #{to-rgb($value)};
        --web-texto-#{$color}: #{$white};
        --web-texto-#{$color}-rgb: #{to-rgb($white)};
        --web-sombra-#{$color}: #{shade-color($value, 90%)};
        --web-borde-#{$color}: #{shade-color($value, 50%)};
        --web-sobre-#{$color}: #{shade-color($value, 50%)};
    }
    @each $color, $value in $colores-oscuros {
        --web-color-#{$color}: #{$value};
        --web-color-#{$color}-30: #{shade-color($value, 30%)};
        --web-color-#{$color}-50: #{shade-color($value, 50%)};
        --web-color-#{$color}-70: #{shade-color($value, 70%)};
        --web-fondo-#{$color}: #{$value};
        --web-fondo-#{$color}-rgb: #{to-rgb($value)};
        --web-texto-#{$color}: #{$white};
        --web-texto-#{$color}-rgb: #{to-rgb($white)};
        --web-sombra-#{$color}: #{tint-color($value, 90%)};
        --web-borde-#{$color}: #{tint-color($value, 50%)};
        --web-sobre-#{$color}: #{tint-color($value, 50%)};
    }
    --web-fuente-base: Verdana, Geneva, Tahoma, sans-serif;
    --web-fuente-talla: 1rem;
    --web-contenedor-sombra: var(--bs-body-color-rgb);
    --web-letras-oscuras-texto: var(--bs-black);
    --web-letras_oscuras-sombra: var(--bs-gray-500);
    --web-letras-claras-texto: var(--bs-white);
    --web-letras-claras-sombra: var(--bs-gray-800);
    --web-volver-arriba-fondo-normal: var(--bs-gray-900);
    --web-volver-arriba-fondo-activo: var(--bs-black);
    --web-llamada-fondo: var(--bs-tertiary-bg);
    --web-imagen-galeria-borde: var(--bs-gray-500);
    --web-imagen-galeria-sombra: $yellow;
    --web-etiquetas-fondo: var(--bs-gray-500);
    --web-etiquetas-texto: var(--bs-white);

}

// ----------------------------------------------
// Importaciones de temas

@import "../temas/acero", "../temas/agata", "../temas/aguamarina", "../temas/amatista", "../temas/azul", "../temas/bermellon", "../temas/blue", "../temas/botella", "../temas/burdeos", "../temas/cafe", "../temas/caoba", "../temas/cardo", "../temas/chocolate", "../temas/cielo", "../temas/cobalto", "../temas/crema", "../temas/cyan", "../temas/esmeralda", "../temas/green", "../temas/gris", "../temas/hoja", "../temas/icterina", "../temas/indigo", "../temas/limon", "../temas/marron", "../temas/musgo", "../temas/noche", "../temas/nuez", "../temas/orange", "../temas/perla", "../temas/pink", "../temas/purple", "../temas/red", "../temas/rosado", "../temas/teal", "../temas/verde", "../temas/verdeamar", "../temas/vino", "../temas/yellow", "../temas/zafiro";

// ----------------------------------------------
// ESTILOS ESPECIALES DE LA PLANTILLA (WEB)

@import "../base/generales";
@import "../base/componentes";
@import "../base/etiquetas";
@import "../base/cargando";
@import "../base/cookies";
@import "../base/formularios";
@import "../base/tablas";
@import "../base/menus";
@import "../base/videos";
@import "../base/fuentes";

// ----------------------------------------------
// ESTILOS PERSONALIZADOS ADICIONALES

