
@use "sass:map";

@function convertir-hex-rgba($color, $opacidad: .5) {
    @return RGBA(to-rgb($color), $opacidad);
}

@function evaluar-color($color) {
    @if contrast-ratio($color, $white) > $min-contrast-ratio {
        @return 'oscuro';
    } @else {
        @return 'claro';
    }
}

@function cambiar-luminosidad($color, $weight) {
    @if evaluar-color($color) == 'oscuro' {
        @return if($weight > 0, mix($color, black, $weight), mix($color, white, -$weight));
    } @else {
        @return if($weight > 0, mix($color, white, $weight), mix($color, black, -$weight));
    }
}

@function cambiar-matiz($color, $degrees) {
    @return hsl(hue($color) + $degrees, saturation($color), lightness($color));
}

@function ajustar-matiz-al-tema($color, $target-hue) {
    $current-hue: hue($color);
    $hue-difference: $target-hue - $current-hue;
    @if abs($hue-difference) > 180 {
        $hue-difference: $hue-difference - 360 * if($hue-difference > 0, -1, 1);
    }
    @return cambiar-matiz($color, $hue-difference);
}

@function generar-paleta-mono($color) {
    $escala: ();
    $lightness: lightness($color);
    @for $i from 1 through 9 {
        $new-color: mix($color, white, 10% * $i);
        $escala: map-merge($escala, ('mono-' + (50 + ($i - 1) * 50): $new-color));
    }
    $escala: map-merge($escala, ('mono-500': $color));
    @for $i from 1 through 9 {
        $new-color: mix($color, black, 10% * $i);
        $escala: map-merge($escala, ('mono-' + (950 - ($i - 1) * 50): $new-color));
    }
    @return (
        'mono1': map-get($escala, 'mono-100'),
        'mono2': map-get($escala, 'mono-200'),
        'mono3': map-get($escala, 'mono-350'),
        'mono4': map-get($escala, 'mono-500'),
        'mono5': map-get($escala, 'mono-650'),
        'mono6': map-get($escala, 'mono-800'),
        'mono7': map-get($escala, 'mono-900'),
    );
}

@function generar-paleta-saturacion($color) {
    $escala: ();
    $base-level: 500;
    $incremento-saturacion: 10%;
    @for $i from 1 through 9 {
        $color-saturado: saturate($color, $incremento-saturacion * $i);
        $color-desaturado: desaturate($color, $incremento-saturacion * $i);
        $escala: map-merge($escala, (
            'satu-' + ($base-level - $i * 50): $color-desaturado,
            'satu-' + ($base-level + $i * 50): $color-saturado
        ));
    }
    $escala: map-merge($escala, ('satu-500': $color));
    @return (
        'satu1': map-get($escala, 'satu-100'),
        'satu2': map-get($escala, 'satu-200'),
        'satu3': map-get($escala, 'satu-400'),
        'satu4': map-get($escala, 'satu-500'),
        'satu5': map-get($escala, 'satu-600'),
        'satu6': map-get($escala, 'satu-750'),
        'satu7': map-get($escala, 'satu-900'),
    );
}

@function generar-paleta-ampliada($color) {
    $fondo: desaturate(lighten($color, 20%), 20%);
    @return (
        'fondo':        $fondo,
        'fondo2':       cambiar-luminosidad($fondo, 60%),
        'fondo3':       cambiar-luminosidad($fondo, 30%),
        'analo1':       cambiar-matiz($color, 30deg),
        'analo2':       cambiar-matiz($color, -30deg),
        'triad1':       cambiar-matiz($color, 120deg),
        'triad2':       cambiar-matiz($color, 240deg),
        'tetra1':       cambiar-matiz($color, 60deg),
        'tetra2':       cambiar-matiz($color, -60deg),
        'cuad1':        cambiar-matiz($color, 90deg),
        'cuad2':        cambiar-matiz($color, -90deg),
        'inverso':      cambiar-matiz($color, 180deg),
        'comp1':        cambiar-matiz(cambiar-matiz($color, 180deg), 30deg),
        'comp2':        cambiar-matiz(cambiar-matiz($color, 180deg), -30deg),
        'accent':       saturate(darken($color, 10%), 50%),
        'bright':       saturate(lighten($color, 15%), 25%),
        'marked':       lighten(saturate(ajustar-matiz-al-tema($color, 60), 15%), 20%),
        'soft':         rgba(lighten(desaturate(ajustar-matiz-al-tema($color, 240), 15%), 20%), .5),
    );
}

@function generar-paleta-basica($color) {
    $danger:    ajustar-matiz-al-tema($color, 0);
    $success:   ajustar-matiz-al-tema($color, 120);
    $info:      ajustar-matiz-al-tema($color, 240);
    $warning:   ajustar-matiz-al-tema($color, 60);
    @if evaluar-color($color) == 'oscuro' {
        $danger:    lighten($danger, 10%);
        $success:   lighten($success, 10%);
        $info:      lighten($info, 10%);
        $warning:   lighten($warning, 10%);
    }
    @return (
        'primary':      $color,
        'light':        lighten($color, 25%),
        'dark':         darken($color, 20%),
        'secondary':    desaturate(darken($color, 10%), 50%),
        'success':      desaturate($success, 10%),
        'info':         desaturate($info, 10%),
        'warning':      saturate($warning, 10%),
        'danger':       saturate($danger, 10%),
        'gray':         $gray-600,
        'white':        $white,
    );
}

@function definir-parametros($paleta-basica, $paleta-ampliada, $paleta-mono, $paleta-saturacion) {
    $color-nav:         map-get($paleta-basica, 'secondary');
    $color-nav2:        map-get($paleta-basica, 'secondary');
    $color-fondo:       map-get($paleta-ampliada, 'fondo');
    $color-fondo2:      cambiar-luminosidad($color-fondo, 30%);
    $color-fondo3:      cambiar-luminosidad($color-fondo, 60%);

    $color-enlace:      map-get($paleta-mono, 'mono7');
    $color-enlace2:     map-get($paleta-mono, 'mono6');
    $color-borde:       map-get($paleta-mono, 'mono5');
    $color-borde2:      map-get($paleta-mono, 'mono7');
    $color-separador:   map-get($paleta-mono, 'mono6');
    $estilo-titulos:    map-get($paleta-mono, 'mono2');
    $color-menu:        map-get($paleta-mono, 'mono2');
    $color-menu2:       map-get($paleta-mono, 'mono5');
    $color-menu3:       map-get($paleta-mono, 'mono6');
    @if evaluar-color($color-fondo) == 'oscuro' {
        $color-enlace:      map-get($paleta-mono, 'mono1');
        $color-enlace2:     map-get($paleta-mono, 'mono2');
        $color-borde:       map-get($paleta-mono, 'mono2');
        $color-borde2:      map-get($paleta-mono, 'mono1');
        $color-separador:   map-get($paleta-mono, 'mono2');
        $estilo-titulos:    map-get($paleta-mono, 'mono6');
        $color-menu:        map-get($paleta-mono, 'mono3');
        $color-menu2:       map-get($paleta-mono, 'mono1');
        $color-menu3:       map-get($paleta-mono, 'mono2');
    }
    @return (
        fuente-base:            'Verdana, Geneva, Tahoma, sans-serif',
        talla-base:             1rem,
        color-separador:        $color-separador,
        color-borde:            $color-borde,
        color-borde2:           $color-borde2,
        estilo-titulos:         $estilo-titulos,
        color-enlace:           $color-enlace,
        color-enlace2:          $color-enlace2,
        color-menu:             $color-menu,
        color-menu2:            $color-menu2,
        color-menu3:            $color-menu3,
        color-nav:              $color-nav,
        color-nav2:             $color-nav2,
        color-fondo:            $color-fondo,
        color-fondo2:           $color-fondo2,
        color-fondo3:           $color-fondo3,
        color-texto:            color-contrast($color-fondo),
        color-texto2:           color-contrast($color-fondo2),
        color-texto3:           color-contrast($color-fondo3),
        paleta-basica:          $paleta-basica,
        paleta-ampliada:        $paleta-ampliada,
        paleta-mono:            $paleta-mono,
        paleta-saturacion:      $paleta-saturacion,
    );
}

@mixin configurar-tema($parametros) {
    --bsia-color-sombra-rgba:   #{convertir-hex-rgba(map-get($parametros, color-texto))};
    --bsia-color-separador:     #{map-get($parametros, color-separador)};
    --bsia-color-borde:         #{map-get($parametros, color-borde)};
    --bsia-color-borde2:        #{map-get($parametros, color-borde2)};
    --bsia-estilo-titulos:      #{map-get($parametros, estilo-titulos)};
    --bsia-color-menu:          #{map-get($parametros, color-menu)};
    --bsia-color-menu2:         #{map-get($parametros, color-menu2)};
    --bsia-color-menu3:         #{map-get($parametros, color-menu3)};
    --bsia-color-nav:           #{map-get($parametros, color-nav)};
    --bsia-color-nav2:          #{map-get($parametros, color-nav2)};
    --bsia-texto-nav:           #{color-contrast(map-get($parametros, color-nav))};
    --bsia-texto-nav2:          #{color-contrast(map-get($parametros, color-nav2))};
    --bsia-texto-menu:          #{color-contrast(map-get($parametros, color-menu))};
    --bsia-texto-menu2:         #{color-contrast(map-get($parametros, color-menu2))};
    --bsia-texto-menu3:         #{color-contrast(map-get($parametros, color-menu3))};

    @each $nombre, $valor in map-get($parametros, paleta-basica) {
        --bs-#{$nombre}:                #{$valor};
        --bs-#{$nombre}-rgb:            #{to-rgb($valor)};
        --bs-#{$nombre}-text-emphasis:  #{cambiar-luminosidad($valor, -20%)};
        --bs-#{$nombre}-bg-subtle:      #{cambiar-luminosidad($valor, 80%)};
        --bs-#{$nombre}-border-subtle:  #{cambiar-luminosidad($valor, 50%)};
        .list-group-item-#{$nombre} {
            --bs-list-group-color:                  var(--bs-#{$nombre}-text-emphasis);
            --bs-list-group-action-hover-color:     var(--bs-#{$nombre}-text-emphasis);
            --bs-list-group-action-active-color:    var(--bs-#{$nombre}-text-emphasis);
            --bs-list-group-active-color:           var(--bs-#{$nombre}-text-emphasis);
        }
        .bg-#{$nombre} {
            background-color: $valor !important;
        }
        .text-#{$nombre} {
            color: $valor !important;
        }
        .text-bg-#{$nombre} {
            background-color:   $valor !important;
            color:              color-contrast($valor) !important;
        }
        .btn-#{$nombre} {
            @include button-variant($valor, $valor);
        }
        .btn-outline-#{$nombre} {
            @include button-outline-variant($valor);
        }
    }
    @each $nombre, $valor in map-get($parametros, paleta-ampliada) {
        --bsia-#{$nombre}: #{$valor};
        .text-bg-#{$nombre} {
            background-color:   $valor !important;
            color:              color-contrast($valor) !important;
        }
    }
    @each $nombre, $valor in map-get($parametros, paleta-mono) {
        --bsia-#{$nombre}: #{$valor};
        .text-bg-#{$nombre} {
            background-color:   $valor !important;
            color:              color-contrast($valor) !important;
        }
    }
    @each $nombre, $valor in map-get($parametros, paleta-saturacion) {
        .text-bg-#{$nombre} {
            background-color:   $valor !important;
            color:              color-contrast($valor) !important;
        }
    }

    //--bs-heading-color: ?;
    //+ Usar font-style: italic; margin-top: 1rem; margin-bottom: 2rem;
    //+ text-shadow: 0.1em 0.1em 0.15em #252850

    --bs-body-font-family:      #{map-get($parametros, fuente-base)};
    --bs-body-font-size:        #{map-get($parametros, talla-base)};
    --bs-body-bg:               #{map-get($parametros, color-fondo)};
    --bs-body-bg-rgb:           #{to-rgb(map-get($parametros, color-fondo))};
    --bs-body-color:            #{map-get($parametros, color-texto)};
    --bs-body-color-rgb:        #{to-rgb(map-get($parametros, color-texto))};
    --bs-emphasis-color:        #{map-get($parametros, color-texto)};
    --bs-emphasis-color-rgb:    #{to-rgb(map-get($parametros, color-texto))};
    --bs-link-color:            #{map-get($parametros, color-enlace)};
    --bs-link-color-rgb:        #{to-rgb(map-get($parametros, color-enlace))};
    --bs-link-hover-color:      #{map-get($parametros, color-enlace2)};
    --bs-link-hover-color-rgb:  #{to-rgb(map-get($parametros, color-enlace2))};
    --bs-secondary-bg:          #{map-get($parametros, color-fondo2)};
    --bs-secondary-bg-rgb:      #{to-rgb(map-get($parametros, color-fondo2))};
    --bs-secondary-color:       #{map-get($parametros, color-texto2)};
    --bs-secondary-color-rgb:   #{to-rgb(map-get($parametros, color-texto2))};
    --bs-tertiary-bg:           #{map-get($parametros, color-fondo3)};
    --bs-tertiary-bg-rgb:       #{to-rgb(map-get($parametros, color-fondo3))};
    --bs-tertiary-color:        #{map-get($parametros, color-texto3)};
    --bs-tertiary-color-rgb:    #{to-rgb(map-get($parametros, color-texto3))};
    --bs-border-color:          var(--bsia-color-borde);
    --bs-box-shadow-sm:         0 0.125rem .25rem #{convertir-hex-rgba(map-get($parametros, color-texto), 0.3)};
    --bs-box-shadow:            0 0.5rem 1rem #{convertir-hex-rgba(map-get($parametros, color-texto), 0.4)};
    --bs-box-shadow-lg:         0 1rem 3rem #{convertir-hex-rgba(map-get($parametros, color-texto), 0.5)};
    --bs-box-shadow-inset:      inset 0 1px 2px #{convertir-hex-rgba(map-get($parametros, color-texto), 0.25)};
    --bs-focus-ring-color:      #{convertir-hex-rgba(map-get(map-get($parametros, paleta-basica), 'primary'), 0.25)};
    --bs-focus-ring-width:      0.25rem;
    --bs-focus-ring-opacity:    0.25;
    --bs-border-color-translucent: #{convertir-hex-rgba(map-get($parametros, color-texto))};

    .dropdown-menu {
        --bs-dropdown-color:                #{color-contrast(map-get($parametros, color-menu))};
        --bs-dropdown-bg:                   #{map-get($parametros, color-menu)};
        --bs-dropdown-link-color:           #{color-contrast(map-get($parametros, color-menu))};
        --bs-dropdown-link-hover-bg:        #{map-get($parametros, color-menu2)};
        --bs-dropdown-link-hover-color:     #{color-contrast(map-get($parametros, color-menu2))};
        --bs-dropdown-link-active-bg:       #{map-get($parametros, color-menu3)};
        --bs-dropdown-link-active-color:    #{color-contrast(map-get($parametros, color-menu3))};
    }
    .nav-tabs {
        --bs-nav-link-color:                    #{map-get($parametros, color-texto)};
        --bs-nav-link-hover-color:              #{map-get($parametros, color-texto)};
        --bs-nav-tabs-link-active-bg:           #{map-get(map-get($parametros, paleta-ampliada), 'bright')};
        --bs-nav-tabs-link-active-color:        #{color-contrast(map-get(map-get($parametros, paleta-ampliada), 'bright'))};
        --bs-nav-tabs-border-color:             var(--bsia-color-borde);
        --bs-nav-tabs-link-active-border-color: var(--bsia-color-borde) var(--bsia-color-borde) transparent;
        --bs-nav-tabs-link-hover-border-color:  var(--bsia-color-borde2) var(--bsia-color-borde2) transparent;
    }

    //TODO: Pendientes
    
    --bs-offcanvas-color: var(--bs-body-color);
    --bs-offcanvas-bg: var(--bs-body-bg);
    --bs-offcanvas-border-color: #{$offcanvas-border-color};

    $accordion-button-icon-dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$accordion-icon-color-dark}' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
    $accordion-button-active-icon-dark: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='#{$accordion-icon-active-color-dark}' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");

    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: var(--bs-body-bg);
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-active-color: var(--bs-primary-text-emphasis);
    --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
    --bs-accordion-btn-icon: #{ escape-svg($accordion-button-icon) };
    --bs-accordion-btn-active-icon: #{ escape-svg($accordion-button-active-icon) };

    $carousel-control-prev-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
    $carousel-control-next-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
    
    --bs-btn-close-color: #{$black};
    --bs-btn-close-bg: #{ escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>")) };

    --bs-modal-color: #{$modal-content-color};
    --bs-modal-bg: var(--bs-body-bg);
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-footer-bg: #{$modal-footer-bg};
    --bs-modal-footer-border-color: #{$modal-footer-border-color};

    --bs-navbar-color: #{rgba(var(--bs-emphasis-color-rgb), .65)};
    --bs-navbar-hover-color: #{rgba(var(--bs-emphasis-color-rgb), .8)};
    --bs-navbar-active-color: #{rgba(var(--bs-emphasis-color-rgb), 1)};
    --bs-navbar-brand-color: #{$navbar-light-active-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-active-color};
    --bs-navbar-toggler-icon-bg: #{ escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-icon-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>")) };
    --bs-navbar-toggler-border-color: #{rgba(var(--bs-emphasis-color-rgb), .15)};
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);

    --bs-tooltip-color: var(--bs-body-bg);
    --bs-tooltip-bg: var(--bs-emphasis-color);

    --bs-card-title-color: #{$card-title-color};
    --bs-card-subtitle-color: #{$card-subtitle-color};
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-cap-bg: #{rgba(var(--bs-body-color-rgb), .03)};
    --bs-card-cap-color: #{$card-cap-color};
    --bs-card-color: #{$card-color};
    --bs-card-bg: var(--bs-body-bg);
    
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-color: var(--bs-border-color);
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: var(--bs-tertiary-bg);
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-active-color: #{$pagination-active-color};
    --bs-pagination-active-bg: #{$pagination-active-bg};
    --bs-pagination-active-border-color: #{$pagination-active-border-color};

    --bs-code-color: #d63384;
    --bs-highlight-color: #212529;
    --bs-highlight-bg: #fff3cd;
    --bs-form-valid-color: #198754;
    --bs-form-valid-border-color: #198754;
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: #dc3545;
    
}
